<ul id="admin-nav">
  <li>{{#link-to 'proxyEndpoints'}}Proxy Endpoints{{/link-to}}</li>
  <li>{{#link-to 'libraries'}}Libraries{{/link-to}}</li>
  <li>{{#link-to 'environments'}}Environments{{/link-to}}</li>
</ul>
{{#if errorMessage}}
  <div class="notification error">
    {{ errorMessage }}
    <a href="#" {{action 'closeError'}}>close</a>
  </div>
{{/if}}
{{#if successMessage}}
  <div class="notification success">
    {{ successMessage }}
    <a href="#" {{action 'closeSuccess'}}>close</a>
  </div>
{{/if}}
{{outlet}}